S3method(Glib.setDirs,GlibEnvironment)
S3method(Glib.setConfig,GlibEnvironment)
S3method(Glib.getConfig,GlibEnvironment)
S3method(Glib.getConfigList,GlibEnvironment)

S3method(Glib.readEventLogs,GlibDataTransformation)
S3method(Glib.filterByDate,GlibDataTransformation)
S3method(Glib.createDateColumns,GlibDataTransformation)
S3method(Glib.normalizeColumnValues,GlibDataTransformation)
S3method(Glib.filterByUserLifetime,GlibDataTransformation)
S3method(Glib.dropEventLogsAfterGoalEvent,GlibDataTransformation)
S3method(Glib.getData,GlibDataTransformation)

S3method(Glib.createUserProfiles,GlibUserProfiles)
S3method(Glib.createUserProfilesGroupedByTimePeriods,GlibUserProfiles)
S3method(Glib.getSummaryList,GlibUserProfiles)
S3method(Glib.getEventSummary,GlibUserProfiles)
S3method(Glib.getUserProfiles,GlibUserProfiles)
S3method(Glib.getStat,GlibUserProfiles)
S3method(Glib.getGoalReachedUsers,GlibUserProfiles)
S3method(Glib.createPartition,GlibUserProfiles)

export(Glib.createEnvironment)
export(Glib.setDirs)
export(Glib.setConfig)
export(Glib.getConfig)
export(Glib.getConfigList)

export(Glib.createDataTransformationManager)
export(Glib.readEventLogs)
export(Glib.filterByDate)
export(Glib.createDateColumns)
export(Glib.normalizeColumnValues)
export(Glib.filterByUserLifetime)
export(Glib.dropEventLogsAfterGoalEvent)
export(Glib.getData)

export(Glib.createUserProfilesManager)
export(Glib.createUserProfiles)
export(Glib.createUserProfilesGroupedByTimePeriods)
export(Glib.getSummaryList)
export(Glib.getEventSummary)
export(Glib.getUserProfiles)
export(Glib.getStat)
export(Glib.getGoalReachedUsers)
export(Glib.createPartition)

importFrom("stats", "aggregate")
importFrom("utils", "read.table")
importFrom("parallel", "mclapply")

